@import url('https://fonts.googleapis.com/css?family=Amiri|Balsamiq+Sans|BioRhyme|Bitter|Bree+Serif|Cinzel|Crete+Round|DM+Mono|Fontdiner+Swanky|Inconsolata|Indie+Flower|Josefin+Sans|Josefin+Slab:700|Jost|Kanit|Libre+Baskerville|Libre+Caslon+Text|Modak|Montserrat|Montserrat+Subrayada|Neuton:700|Noto+Serif|Poppins|Quicksand|Raleway|Righteous|Roboto+Mono|Roboto+Slab|Rokkitt|Rubik|Special+Elite|Zilla+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    background: rgb(22, 22, 22);
}


.loader-bg {
    position: fixed;
    z-index: 10000;
    background: black;
    width: 100%;
    height: 100%;
}

.loader {
    background: url("../Images/Camera-02.gif");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 400px;
}

.loader-bg .loader span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100vw;
    animation: animate-bg 2100ms linear infinite;
}

@keyframes animate-bg {
    0% {
        background: transparent;
    }

    50% {
        background: transparent;
    }

    100% {
        background: white;
    }
}

#section1 {
    height: 100vh;
    width: 100%;
    background-blend-mode: screen;
    background: url("../Images/Camera-07.jpg"), linear-gradient(to bottom, gray, transparent, transparent, transparent, transparent);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

/*+  Wave  +*/
#section1::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 143px;
    width: 100%;
    background: url("../Images/Wave.png");
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0;
    }

    100% {
        background-position: 1360px;
    }
}

#section1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 143px;
    width: 100%;
    background: url("../Images/Wave.png");
    animation: animate-reverse 20s linear infinite;
    opacity: .5;
}

@keyframes animate-reverse {
    0% {
        background-position: 1360px;
    }

    100% {
        background-position: 0;
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    transition: 0.6s;
    z-index: 1000;
}

header.sticky {
    height: 70px;
    /* background: rgba(250, 250, 250, 0.5); */
    background: rgba(0, 0, 0, .8);
    transition: 0.6s;
}

header.sticky ul {
    position: absolute;
    top: -3px;
    right: 20px;
}

header.sticky nav span img {
    position: absolute;
    top: -40px;
}

#section1 header.sticky .active {
    background: transparent;
    transition: .6s;
}

#section1 header.sticky nav ul li a:hover {
    background: transparent;
    color: #919191;
}

nav {
    margin: auto 20px auto 0;
}

nav span a {
    position: relative;
    left: 50px;
}

nav span a img {
    position: relative;
    height: 80px;
    width: 150px;
    margin: auto 20px;
}


#section1 header ul {
    float: right;
    margin: 22px auto;
    list-style: none;
}


#section1 header ul li {
    display: inline-block;
    margin: 0 5px;
}

#section1 header ul li a {
    color: white;
    font-size: 20px;
    padding: 3px 8px;
    text-decoration: none;
    font-family: 'BioRhyme', serif;
    transition: .5s ease-in-out;
}

#section1 header ul li a.active {
    background: black;
    color: white;
    border-radius: 5px;
}

#section1 header ul li a:hover {
    background: black;
    color: white;
    border-radius: 5px;
    transition: .5s ease-in-out;
}

nav #sidebar-open {
    cursor: pointer;
    overflow: hidden;
}

nav #sidebar-open span:nth-child(1) {
    display: block;
    height: 1px;
    width: 26px;
    background: white;
    margin-bottom: 5px;
}

nav #sidebar-open span:nth-child(2) {
    display: block;
    height: 1px;
    width: 26px;
    background: white;
    margin-bottom: 5px;
    position: relative;
    right: -8px;
    transition: .5s ease-in-out;
}

nav #sidebar-open span:nth-child(3) {
    display: block;
    height: 1px;
    width: 26px;
    background: white;
    position: relative;
    right: -4px;
    transition: .5s ease-in-out;
}

nav #sidebar-open:hover span:nth-child(2) {
    right: 0;
    transition: .7s ease-in-out;
}

nav #sidebar-open:hover span:nth-child(3) {
    right: 0;
    transition: .5s ease-in-out;
}

/*!  Sidebar  !*/
#section1 #sidebar {
    height: 100vh;
    width: 35%;
    position: fixed;
    top: 0;
    right: -35%;
    background: url("../Images/Black-and-Box.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1000;
}

#section1 #sidebar #sidebar-close {
    position: absolute;
    top: 28px;
    right: 28px;
    height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#section1 #sidebar-close .ion-android-close {
    font-size: 33px;
    color: white;
}

#section1 #sidebar ul {
    list-style: none;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

#section1 #sidebar ul li {
    height: 50px;
    width: 350px;
    text-align: center;
    margin: 30px 20px;
    padding: 10px 40px;
    box-shadow: 0px 0px 10px gray;
    transition: all .7s;
}

#section1 #sidebar ul li:hover {
    background: rgba(0, 0, 0, .9);
    box-shadow: 0px 0px 10px white;
}

#section1 #sidebar ul li:nth-child(1) {
    background: black;
}

#section1 #sidebar ul li a {
    color: white;
    font-size: 20px;
    padding: 3px 8px;
    text-decoration: none;
    font-family: 'BioRhyme', serif;
}

#section1 #sidebar ul li i {
    color: white;
    font-size: 16px;
    margin-right: 5px;
    transition: all .4s;
}

#section1 #sidebar ul li:hover i {
    margin-left: 15px;
    transform: scale(1.5);
}

#section1 #sidebar #social-media {
    position: absolute;
    left: 40px;
    bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
}

#section1 #social-media div {
    margin: 0 10px;
}

#section1 #social-media .sidebar-link a i {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: all .4s;
}

#section1 #social-media .sidebar-link i:hover {
    transform: scale(1.5);
}

#section1 #sidebar #last-sidebar {
    position: absolute;
    left: 58px;
    bottom: 35px;
    color: white;
    font-size: 14px;
}

/*!  Jumbotron  !*/
#section1 .container div {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-45%, -50%);
    text-align: center;
}

#section1 .container h1 {
    color: white;
    font-family: 'BioRhyme', serif;
    /* margin: 0; */
}

#section1 .container h1:nth-child(1) {
    font-size: 40px;
    font-family: 'BioRhyme', serif;
    border: 2px solid white;
    padding: 10px 20px;
    margin-bottom: 25px;
    animation-delay: 2500ms;
}

#section1 .container h1:nth-child(3) {
    font-size: 100px;
    font-family: 'Righteous', cursive;
    animation-delay: 2500ms;
}

#section1 .container h1:nth-child(2),
#section1 .container h1:nth-child(4) {
    font-size: 30px;
    margin-bottom: 0;
    animation-delay: 2500ms;
}

/*=  End Section 1  =*/

/*=  Section 2  =*/
#section2 {
    height: 100%;
    width: 100%;
    /* background: #ff9f80; */
}

#section2 .container .row {
    padding: 50px 20px;
}

#section2 .col-sm-6 {
    transition: 1000ms ease-in-out;
    transition-duration: 1000ms;
    transition-timing-function: cubic-bezier(.17, .67, .83, .67);
}

#section2 .container img {
    height: 90%;
    width: 100%;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}

#section2 .col-sm-6:nth-child(2) {
    height: 260px;
    position: relative;
    top: 20px;
    left: -80px;
    color: black;
    /* background: #ff9f80; */
    background: url('../Images/Peach.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 20px;
}

#section2 .col-sm-6 h1 {
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

#section2 .col-sm-6 p {
    font-size: 18px;
    font-weight: 500;
    font-family: san;
}

/*=  End Section 2  =*/

/*=  Section 3  =*/
#section3 {
    height: 100%;
    width: 100%;
    padding: 30px 40px;
    padding-bottom: 0;
    /* background: #ff9f80; */
}

#section3 .gallery {
    width: 100%;
    padding: 20px 60px;
}

#section3 .container .gallery-menu {
    text-align: center;
    padding-top: 30px;
}

#section3 .container .gallery-menu ul {
    margin: 20px auto;
}

#section3 .container .gallery-menu ul li {
    display: inline-block;
    margin: 10px 10px;
    list-style: none;
    padding: 8px 15px;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    background: purple;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5 ease;
    transition: all .5s ease;
}

#section3 .container .gallery-menu li.active {
    background: black;
    color: purple;
}


#section3 .container .gallery-menu ul li:hover {
    background: black;
    color: purple;
}

#section3 .gallery .photo {
    width: 300px;
    margin: 5px 10px;
    padding: 0;
}

#section3 .gallery .sunset img {
    height: 250px;
    width: 330px;
    padding: 0 10px;
}

#section3 .gallery .model img {
    height: 400px;
    width: 330px;
    padding: 0 10px;
}

#section3 .gallery .rainy img {
    height: 250px;
    width: 330px;
    padding: 0 10px;
}

#section3 .gallery .own img {
    height: 350px;
    width: 330px;
    padding: 0 10px;
}



/*=  End Section 3  =*/

/*=  Section 4  =*/
#section4 {
    height: 100%;
    width: 100%;
    background: lightcoral;
}

#section5 {
    height: 100%;
    width: 100%;
    background: lightblue;
}











@media (max-width: 1200px) {
    header {
        margin: 0px;
    }
}

@media (max-width: 800px) {

    /*=  Section 1  =*/
    #section1::before,
    #section1::after {
        display: none;
    }

    header.sticky nav span img {
        position: absolute;
        top: -5px;
    }

    #sidebar-open {
        position: absolute;
        top: 32px;
        right: 20px;
    }

    header.sticky #sidebar-open {
        position: absolute;
        top: 35px;
        right: 0;
        color: white;
        z-index: 10000;
    }

    nav {
        margin: 0;
    }

    nav span a img {
        position: absolute;
        left: -60px;
        margin: 0;
    }

    #section1 header ul {
        height: 80px;
        width: 100px;
        margin: 0;
    }

    #section1 header ul li a {
        display: none;
    }

    #section1 .container {
        margin: 0;
    }

    #section1 .container div {
        position: absolute;
        top: 45%;
        left: 48%;
        transform: translate(-45%, -48%);
        text-align: center;
    }

    #section1 .container h1:nth-child(1) {
        font-size: 5vw;
    }

    #section1 .container h1:nth-child(3) {
        font-size: 14vw;
    }

    #section1 .container h1:nth-child(2),
    #section1 .container h1:nth-child(4) {
        font-size: 4vw;
    }

    #section1 #sidebar {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        right: -100%;
    }

    #section1 #sidebar #sidebar-close {
        position: absolute;
        top: 28px;
        right: 24px;
    }

    #section1 #sidebar ul li {
        width: 80vw;
    }

    #section1 #sidebar #last-sidebar {
        position: absolute;
        left: 38px;
        bottom: 35px;
    }





    /*=  Section 2  =*/
    #section2 {
        overflow: hidden;
    }

    #section2 .col-sm-6:nth-child(2) {
        height: 440px;
        position: relative;
        top: 0;
        left: 0;
    }






    /*=  Section 3  =*/
    #section3 {
        padding: 0;
    }

    #section3 .gallery {
        padding: 0;
        padding-bottom: 10px;
    }

    #section3 .gallery .photo {
        width: 100%;
        margin: 5px 0;
    }

    #section3 .gallery .photo img {
        padding: 0;
        width: 330px;
    }







}