@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Cantarell|Courier+Prime|Days+One|Fredericka+the+Great|Fredoka+One|Monoton|Shojumaru|Syncopate|Titan+One&display=swap');

/* FONT STYLE
font-family: 'Cabin Sketch', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Courier Prime', monospace;
font-family: 'Cantarell', sans-serif;
font-family: 'Monoton', cursive;
font-family: 'Days One', sans-serif;
font-family: 'Syncopate', sans-serif;
font-family: 'Shojumaru', cursive;
font-family: 'Titan One', cursive;
*/

::-webkit-scrollbar {
  width: 8px;
  height: 30px;
  background-color: red;
}

::-webkit-scrollbar-track {
  background: linear-gradient(white, gray, #242323, black);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(white, gray, #242323, black);
}

html {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #242323;
  font-family: 'Cantarell', sans-serif;
}

/*!  Section 1  !*/
#section1 {
  background: url("../Images/converse.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 130vh;
  position: relative;
  top: -20px;
}

header {
  position: sticky;
  position: -webkit-sticky;
  max-width: 1400px;
  margin: 20px auto;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 4px;
  height: 70px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  top: 0;
  background: black;
  z-index: 1;
}

.logo img {
  position: relative;
  height: 45px;
  left: 10px;
  font-size: 36px;
  padding: 0 10px;
  float: left;
  margin: 5px 0;
}

nav {
  float: right;
  font-weight: bold;
}

.clearfix {
  clear: both;
}

nav ul {
  display: flex;
  line-height: 45px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0 30px 0 0;

}

nav ul li a {
  padding: 10px 0;
  text-decoration: none;
  color: white;
  font-size: large;
  font-family: 'Courier Prime', monospace;
}

/*+ NEW CSS */

nav ul li a#active span#shome {
  position: relative;
  left: 0;
  top: -5px;
  display: block;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, black, rgb(24, 23, 23), rgb(63, 61, 61), gray, white);
  /* background: linear-gradient(to right, white, gray, rgb(63, 61, 61), black); */
}

nav ul li a.menu-item span {
  position: absolute;
  bottom: 13px;
  left: -100.5%;
  display: block;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, black, rgb(24, 23, 23), rgb(63, 61, 61), gray, white);
  /* background: linear-gradient(to right, white, gray, rgb(63, 61, 61), black); */
  transition: 0.5s;
  transition-delay: 0.5s;
  transition: .4s ease-out;
  overflow: hidden;
}

nav ul li a.menu-item:hover span {
  left: 0;
  transition: .2s ease-in;
}

/*+ END NEW CSS */

nav .fa.fa-search {
  color: white;
  font-size: 18px;
  line-height: 50px;
}

nav .fa.fa-sign-in {
  color: white;
  font-size: 18px;
  line-height: 50px;
}

nav ul li a.menu-item {
  text-decoration: none;
  transform: scale(1);
  transition: 0.5s;
  display: block;
  overflow: hidden;
}

nav ul li a.menu-item.hide-item {
  transform: scale(0);
}

nav ul li:nth-child(1) a.menu-item.hide-item {
  transition-delay: 0.5s;
}

nav ul li:nth-child(2) a.menu-item.hide-item {
  transition-delay: 0.4s;
}

nav ul li:nth-child(3) a.menu-item.hide-item {
  transition-delay: 0.35s;
}

nav ul li:nth-child(4) a.menu-item.hide-item {
  transition-delay: 0.2s;
}

nav ul li:nth-child(5) a.menu-item.hide-item {
  transition-delay: 0.1s;
}

nav ul li:nth-child(6) a.menu-item.hide-item {
  transition-delay: 0s;
}

nav ul li:nth-child(1) a.menu-item {
  transition-delay: 0s;
}

nav ul li:nth-child(2) a.menu-item {
  transition-delay: 0.1s;
}

nav ul li:nth-child(3) a.menu-item {
  transition-delay: 0.2s;
}

nav ul li:nth-child(4) a.menu-item {
  transition-delay: 0.3s;
}

nav ul li:nth-child(5) a.menu-item {
  transition-delay: 0.4s;
}

nav ul li:nth-child(6) a.menu-item {
  transition-delay: 0.5s;
}

nav ul li a.menu-item:hover {
  color: whitesmoke;
}

.search-form {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(0);
  width: 450px;
  height: 60px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.search-form.active {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
  transform: translateX(-50%);
}

.search-form input {
  width: 100%;
  height: 50px;
  background: transparent;
  color: white;
  border: none;
  outline: none;
  font-size: 25px;
}

.search-form input::placeholder {
  color: white;
}

.search-form::before {
  content: "\f002";
  position: absolute;
  top: 12px;
  left: -26px;
  font-size: 18px;
  color: white;
  font-family: fontAwesome;
}

.close {
  position: absolute;
  right: 34%;
  top: 0;
  height: 44px;
  color: white;
  line-height: 30px;
  font-size: 18px;
  text-align: right;
  width: 20px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: 0s;
  transform: translateX(0);
}

nav .close.active {
  transition-delay: 0.6s;
}

.close.active {
  opacity: 1;
  visibility: visible;
}

/* TODO Later */

#section-1-1 {
  padding: 70px 30px;
}

#section1 section #container1 {
  background: transparent;
}

#section1 section #container1 span {
  position: absolute;
  background: pink;
  height: 3px;
  width: 75px;
}

#section1 #section-1-1 {
  color: white
}

#container1 {
  color: white;
}

/* TODO Later */

/*!  END Section 1  !*/


/*+  Section 2  +*/

#section2 {
  color: white;
}

/*+  END Section 2  +*/





















@media (max-width: 1200px) {
  header {
    margin: 20px;
  }
}

@media (max-width: 960px) {
  .menu-toggle {
    display: block;
    width: 40px;
    height: 40px;
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: white;
  }

  .menu-toggle::before {
    content: '\f0c9';
    font-family: fontAwesome;
    position: relative;
    top: 3px;
    right: 5px;
  }

  .menu-toggle.active::before {
    content: '\f00d';
  }

  header {
    height: auto;
    width: auto;
    padding: 10px;
  }

  nav {
    display: none;
  }

  nav.active {
    display: block;
    width: 100%;
  }

  nav.active ul {
    /* display: block; */
    flex-direction: column;
    text-align: center;
  }

  nav.active ul li a {
    margin: 0;
    padding: 10px;
    background: black;

  }
}