@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Cantarell|Courier+Prime|Days+One|Fredericka+the+Great|Fredoka+One|Monoton|Shojumaru|Syncopate|Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Baloo+Chettan+2|Baloo+Da+2|Baloo+Thambi+2|Cinzel|Libre+Baskerville|Nanum+Myeongjo|Poppins|Quicksand|Raleway|Rubik|Sen&display=swap');

::-webkit-scrollbar {
  width: 8px;
  height: 30px;
}

::-webkit-scrollbar-track {
  background: white;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #242323, black);
  border-radius: 6px;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  /* background: #242323; */
  background: black;
  font-family: 'Cantarell', sans-serif;
}

/*!  Section 1  !*/
#section1 {
  background: url("../Images/converse.jpg");
  height: 130vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

header {
  /* position: sticky;
  position: -webkit-sticky; */
  max-width: 1400px;
  margin: auto;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 4px;
  height: 70px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  top: 0;
  background: black;
  z-index: 1;
}

.logo img {
  position: relative;
  height: 45px;
  left: 10px;
  font-size: 36px;
  padding: 0 10px;
  float: left;
  margin: 5px 0;
}

nav {
  float: right;
  font-weight: bold;
}

.clearfix {
  clear: both;
}

nav ul {
  display: flex;
  line-height: 45px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0 30px 0 0;

}

nav ul li a {
  padding: 10px 0;
  text-decoration: none;
  color: white;
  font-size: large;
  font-family: 'Courier Prime', monospace;
}

nav ul li a#active span#shome {
  position: relative;
  left: 0;
  top: -5px;
  display: block;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, black, rgb(24, 23, 23), rgb(63, 61, 61), gray, white);
}

nav ul li a.menu-item span {
  position: absolute;
  bottom: 13px;
  left: -100.5%;
  display: block;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, black, rgb(24, 23, 23), rgb(63, 61, 61), gray, white);
  transition: 0.5s;
  transition-delay: 0.5s;
  transition: .4s ease-out;
  transition-duration: 750ms;
  transition-timing-function: cubic-bezier(0.16, 1.10, 1, .9);
  overflow: hidden;
}

nav ul li a.menu-item:hover span {
  left: 0;
  /* transition: .2s ease-in; */
  transition: 750ms ease-in;
  transition-duration: 750ms;
  transition-timing-function: cubic-bezier(0.16, 1.10, 1, .9);
}

nav .fa.fa-search {
  color: white;
  font-size: 18px;
  line-height: 50px;
}

nav .fa.fa-sign-in {
  color: white;
  font-size: 18px;
  line-height: 50px;
}

nav ul li a.menu-item {
  text-decoration: none;
  transform: scale(1);
  transition: 0.5s;
  display: block;
  overflow: hidden;
}

nav ul li a.menu-item.hide-item {
  transform: scale(0);
}

nav ul li:nth-child(1) a.menu-item.hide-item {
  transition-delay: 0.5s;
}

nav ul li:nth-child(2) a.menu-item.hide-item {
  transition-delay: 0.4s;
}

nav ul li:nth-child(3) a.menu-item.hide-item {
  transition-delay: 0.35s;
}

nav ul li:nth-child(4) a.menu-item.hide-item {
  transition-delay: 0.2s;
}

nav ul li:nth-child(5) a.menu-item.hide-item {
  transition-delay: 0.1s;
}

nav ul li:nth-child(6) a.menu-item.hide-item {
  transition-delay: 0s;
}

nav ul li:nth-child(1) a.menu-item {
  transition-delay: 0s;
}

nav ul li:nth-child(2) a.menu-item {
  transition-delay: 0.1s;
}

nav ul li:nth-child(3) a.menu-item {
  transition-delay: 0.2s;
}

nav ul li:nth-child(4) a.menu-item {
  transition-delay: 0.3s;
}

nav ul li:nth-child(5) a.menu-item {
  transition-delay: 0.4s;
}

nav ul li:nth-child(6) a.menu-item {
  transition-delay: 0.5s;
}

nav ul li a.menu-item:hover {
  color: whitesmoke;
}

.search-form {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(0);
  width: 450px;
  height: 60px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.search-form.active {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
  transform: translateX(-50%);
}

.search-form input {
  width: 100%;
  height: 50px;
  background: transparent;
  color: white;
  border: none;
  outline: none;
  font-size: 25px;
}

.search-form input::placeholder {
  color: white;
}

.search-form::before {
  content: "\f002";
  position: absolute;
  top: 12px;
  left: -26px;
  font-size: 18px;
  color: white;
  font-family: fontAwesome;
}

.close {
  position: absolute;
  right: 34%;
  top: 0;
  height: 44px;
  color: white;
  line-height: 30px;
  font-size: 18px;
  text-align: right;
  width: 20px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: 0s;
  transform: translateX(0);
}

nav .close.active {
  transition-delay: 0.6s;
}

.close.active {
  opacity: 1;
  visibility: visible;
}

/*+  Section-1-1  */

#section-1-1 {
  padding: 90px 30px;
}

#section-1-1 #container1 {
  padding: 70px 30px;
}

#section-1-1 #container1 #line span {
  position: absolute;
  top: -30px;
  background: linear-gradient(to top left, #cc99ff 0%, #ff99cc 100%);
  height: 3px;
  width: 80px;
  border-radius: 6px;
}

#section-1-1 #container1 div h2 {
  position: relative;
  font-size: 90px;
  font-weight: bolder;
  word-spacing: 10px;
  font-family: san;
  color: white;
}

/*+  Getting Started Button  +*/

#section-1-1 #container1 #gts-btn {
  position: relative;
  left: 100px;
}

#section-1-1 #container1 #gts-btn a {
  position: absolute;
  top: 40px;
  color: white;
  padding: 15px 30px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Cabin Sketch', cursive;
  word-spacing: 4px;
  letter-spacing: .5px;
  transform: translate(-50%, -50%);
  text-decoration: none;
  box-shadow: 0 5px 40px rgb(20, 20, 20);
  overflow: hidden;
}

#section-1-1 #container1 #gts-btn a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  /* background: rgb(233, 32, 79); */
  background: linear-gradient(to top left, #cc99ff 0%, #ff99cc 100%);
  transition: 750ms ease-in;
  transition-duration: 750ms;
  transition-timing-function: cubic-bezier(0.16, 1.10, 1, .9);
}

#section-1-1 #container1 #gts-btn a:hover:before {
  left: 0;
  transition: 750ms ease-in;
  transition-duration: 750ms;
  transition-timing-function: cubic-bezier(0.16, 1.10, 1, .9);
}

#section-1-1 #container1 #gts-btn a b {
  position: relative;
  z-index: 1111;
}

#section-1-1 #container1 #gts-btn a::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.08);
  transition-duration: 3000ms;
  transition: 750ms ease-in;
}

#section-1-1 #container1 #gts-btn a:hover::after {
  position: relative;
  left: -50%;
  transition-duration: 2000ms;
}

#section-1-1 #container1 #gts-btn a span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, black, rgb(24, 23, 23), rgb(63, 61, 61), gray, white);
  animation: animate1 2s linear infinite;
}

@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

#section-1-1 #container1 #gts-btn a span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, black, rgb(24, 23, 23), rgb(63, 61, 61), gray, white);
  animation: animate2 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(100%);
  }
}

#section-1-1 #container1 #gts-btn a span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, black, rgb(24, 23, 23), rgb(63, 61, 61), gray, white);
  animation: animate3 2s linear infinite;
}

@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

#section-1-1 #container1 #gts-btn a span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to top, black, rgb(24, 23, 23), rgb(63, 61, 61), gray, white);
  animation: animate4 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(-100%);
  }
}

/*+  END Getting Started Button  +*/

/*!  END Section 1  !*/

/** ==================== **/

/*+  Section 2  +*/

#section2 {
  background: #242323;
  /* background: white; */
  height: 137vh;
  color: white;
}

/*=  Section2-1  =*/

#section2 #section2-1 {
  position: relative;
  top: -100px;
  width: 100%;
  height: 37%;
  padding: 30px 0;
  background: black;
}

#section2 #section2-1 .container {
  position: relative;
  top: -20px;
}

#section2 #section2-1 .container .row {
  position: absolute;
  left: 150px;
  height: 100%;
}

#section2 #section2-1 .row i {
  font-size: 40px;
  color: black;
  transition: .5s ease-in-out;
}

#section2-1 .row h1,
#section2-1 .row p {
  text-align: left;
}

#section2-1 #mission {
  color: black;
  width: 100%;
  padding: 10px 30px;
  text-align: center;
  padding-right: 60px;
  margin: 0 10px;
  background: linear-gradient(to top left, purple 0%, #cc99ff 50%, #ff99cc 100%);
  background-size: 200%;
  background-position: left;
  /* transition: 0.5s ease-in-out; */
  transition: 1000ms ease-in-out;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.16, 1.10, 1, .9);
}

#section2-1 #vision {
  color: black;
  width: 100%;
  padding: 10px 30px;
  text-align: center;
  padding-left: 60px;
  margin: 0 10px;
  background: linear-gradient(to top left, purple 0%, #cc99ff 50%, #ff99cc 100%);
  background-size: 200%;
  background-position: left;
  /* transition: 0.5s ease-in-out; */
  transition: 1000ms ease-in-out;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.16, 1.10, 1, .9);
}

#section2-1 #mission:hover {
  background-position: right;
  transition: 0.5s ease-in-out;
}

#section2-1 #vision:hover {
  background-position: right;
  transition: 0.5s ease-in-out;
}

#section2-1 #mission:hover span i {
  transform: scale(1.2);
  transition: .5s ease-in-out;
}

#section2-1 #vision:hover span i {
  transform: scale(1.2);
  transition: .5s ease-in-out;
}

#section2 #section2-1 .container h1 {
  font-size: 48px;
  font-weight: bolder;
  word-spacing: 10px;
  font-family: san;
}

#section2 #section2-1 .container p {
  font-family: 'Libre Baskerville', serif;
  font-size: 16px;
}

/*=  End Section2-1 =*/

/*?  Section2-2  ?*/

#section2-2 #students {
  position: relative;
  top: -80px;
  width: 100%;
  float: left;
}

#section2-2 #students .container h1 {
  font-size: 48px;
  font-weight: bolder;
  word-spacing: 10px;
  font-family: san;
  margin: 16px 16px 16px 0;
}

#section2-2 #students .container span {
  position: absolute;
  top: 9px;
  background: linear-gradient(to top left, #cc99ff 0%, #ff99cc 100%);
  height: 3px;
  width: 80px;
  border-radius: 6px;
  /* background-size: 200%; */
}

/*  TODO Animate Span  */
/* 
#section2:hover #students .container span {
  animation: animate 8s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 200%;
  }
} */

#section2:hover #section2-2 #profile ul li {
  list-style-type: none;
}

#section2-2 #profile ul h5 {
  margin: 0;
}

#section2-2 #profile ul p {
  font-size: 13px;
  color: rgb(88, 88, 88);
  margin-bottom: 5px;
}

#section2-2 #profile ul li a {
  text-decoration: none;
  color: white;
  border-radius: 50%;
  padding: 6px 9px;
}

#section2-2 #profile .fab.fa-facebook-f {
  padding: 6px 3px;
}

#section2-2 #profile .work-index {
  background: black;
  color: white;
  padding: 4px 10px;
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 0;
  transition: .5s ease-in-out;
}

#section2-2 #profile .work-index:hover {
  background: rgba(0, 0, 0, 0.8);
}

/*+++  LILIAN  +++*/
#section2-2 #profile #Lilian {
  background-image: url("../Images/st01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: .8;
  height: 70vh;
  margin: 20px 10px;
  padding: 0;
  overflow: hidden;
  transform: translate(0%, 0%);
  transition: .3s ease-in-out;
}

/* TODO LATER */
/* #section2-2 #profile #Lilian:hover {
  background-position: center;
  background-size: 140%;
  transition: .5s ease-in-out;
} */

/* TODO LATER */
#section2-2 #profile #Lilian:hover {
  transform: scale(.95);
  opacity: 1;
  transition: .5s ease-in-out;
}

#section2-2 #profile #Jovan:hover {
  transform: scale(.95);
  opacity: 1;
  transition: .5s ease-in-out;
}

#section2-2 #profile #Scepter:hover {
  transform: scale(.95);
  opacity: 1;
  transition: .5s ease-in-out;
}

#section2-2 #profile #Lilian #lilian-account {
  position: absolute;
  text-align: center;
  height: 120px;
  width: 100%;
  color: black;
  bottom: -35px;
  transition: .4s ease-in-out;
}

#section2-2 #profile #Lilian #lilian-account::before {
  content: '';
  position: absolute;
  background: linear-gradient(to top left, purple 0%, #cc99ff 50%, #ff99cc 100%);
  height: 100%;
  width: 100%;
  left: 0;
  top: 90px;
  bottom: 0;
  transition: .2s ease-in-out;
  z-index: 1;
}

#section2-2 #profile #Lilian:hover #lilian-account::before {
  top: 0;
  transition: .2s ease-in-out;
  z-index: -1;
}

#section2-2 #profile #Lilian:hover #lilian-account {
  bottom: 0;
  transition: .3s ease-in-out;
}

#section2-2 #profile #Lilian:hover ul:nth-child(2) {
  position: relative;
  top: -10px;
}

/*+  HOVER ICONS  +*/

/*+++  LILIAN  +++*/
#section2-2 #profile #Lilian ul:nth-child(2) a:nth-child(1):hover {
  background: #4267b2;
  transition: .5s ease-in-out;
}

#section2-2 #profile #Lilian ul:nth-child(2) a:nth-child(2):hover {
  background: #24292e;
  transition: .5s ease-in-out;
}

#section2-2 #profile #Lilian ul:nth-child(2) a:nth-child(3):hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-image: radial-gradient(circle at 30% 107%, rgb(253, 244, 151) 0%, rgb(253, 244, 151) 5%, rgb(253, 89, 73) 45%, rgb(214, 36, 159) 60%, rgb(40, 90, 235) 90%);
  transition: 1s ease-in-out;
}

/*+++  JOVAN  +++*/
#section2-2 #profile #Jovan ul:nth-child(2) a:nth-child(1):hover {
  background: #4267b2;
  transition: .5s ease-in-out;
}

#section2-2 #profile #Jovan ul:nth-child(2) a:nth-child(2):hover {
  background: #24292e;
  transition: .5s ease-in-out;
}

#section2-2 #profile #Jovan ul:nth-child(2) a:nth-child(3):hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-image: radial-gradient(circle at 30% 107%, rgb(253, 244, 151) 0%, rgb(253, 244, 151) 5%, rgb(253, 89, 73) 45%, rgb(214, 36, 159) 60%, rgb(40, 90, 235) 90%);
  transition: 1s ease-in-out;
}

/*+++  SCEPTER  +++*/
#section2-2 #profile #Scepter ul:nth-child(2) a:nth-child(1):hover {
  background: #4267b2;
  transition: .5s ease-in-out;
}

#section2-2 #profile #Scepter ul:nth-child(2) a:nth-child(2):hover {
  background: #24292e;
  transition: .5s ease-in-out;
}

#section2-2 #profile #Scepter ul:nth-child(2) a:nth-child(3):hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-image: radial-gradient(circle at 30% 107%, rgb(253, 244, 151) 0%, rgb(253, 244, 151) 5%, rgb(253, 89, 73) 45%, rgb(214, 36, 159) 60%, rgb(40, 90, 235) 90%);
  transition: 1s ease-in-out;
}

/*+++  JOVAN  +++*/
#section2-2 #profile #Jovan {
  background-image: url("../Images/st02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: .8;
  height: 70vh;
  margin: 20px 10px;
  padding: 0;
  overflow: hidden;
  transform: translate(0%, 0%);
  transition: .3s ease-in-out;
}

#section2-2 #profile #Jovan #jovan-account {
  position: absolute;
  text-align: center;
  height: 120px;
  width: 100%;
  color: black;
  bottom: -35px;
  transition: .4s ease-in-out;
}

#section2-2 #profile #Jovan #jovan-account::before {
  content: '';
  position: absolute;
  background: linear-gradient(to top left, purple 0%, #cc99ff 50%, #ff99cc 100%);
  height: 100%;
  width: 100%;
  left: 0;
  top: 90px;
  bottom: 0;
  transition: .2s ease-in-out;
  z-index: 1;
}

#section2-2 #profile #Jovan:hover #jovan-account::before {
  top: 0;
  transition: .2s ease-in-out;
  z-index: -1;
}

#section2-2 #profile #Jovan:hover #jovan-account {
  bottom: 0;
  transition: .3s ease-in-out;
}

#section2-2 #profile #Jovan:hover ul:nth-child(2) {
  position: relative;
  top: -10px;
}

/*+++  SCEPTER  +++*/
#section2-2 #profile #Scepter {
  background-image: url("../Images/st03.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: .8;
  height: 70vh;
  margin: 20px 10px;
  padding: 0;
  overflow: hidden;
  transform: translate(0%, 0%);
  transition: .3s ease-in-out;
}

#section2-2 #profile #Scepter #scepter-account {
  position: absolute;
  text-align: center;
  height: 120px;
  width: 100%;
  color: black;
  bottom: -35px;
  transition: .4s ease-in-out;
}

#section2-2 #profile #Scepter #scepter-account::before {
  content: '';
  position: absolute;
  background: linear-gradient(to top left, purple 0%, #cc99ff 50%, #ff99cc 100%);
  height: 100%;
  width: 100%;
  left: 0;
  top: 90px;
  bottom: 0;
  transition: .2s ease-in-out;
  z-index: 1;
}

#section2-2 #profile #Scepter:hover #scepter-account::before {
  top: 0;
  transition: .2s ease-in-out;
  z-index: -1;
}

#section2-2 #profile #Scepter:hover #scepter-account {
  bottom: 0;
  transition: .3s ease-in-out;
}

#section2-2 #profile #Scepter:hover ul:nth-child(2) {
  position: relative;
  top: -10px;
}

/*?  End Section2-2  ?*/

/*+  END Section 2  +*/

/*!  Section 3  !*/

#section3 {
  height: 100vh;
  width: 100%;
  background: #242323;
  color: white;
}

#section3 #section3-1 {
  position: absolute;
  width: 100%;
}

#section3-1 #courses .container span {
  position: absolute;
  top: 10px;
  background: linear-gradient(to top left, #cc99ff 0%, #ff99cc 100%);
  height: 3px;
  width: 80px;
  border-radius: 6px;
}

#section3-1 #courses .container h1 {
  font-size: 48px;
  font-weight: bolder;
  word-spacing: 10px;
  font-family: san;
  margin: 16px 16px 16px 0;
}

/*=  Swiper  =*/
#section3-2 #courses-slider {
  position: relative;
  top: 120px;
  height: 430px;
  width: 100%;
}

#section3-2 .swiper-container {
  width: 100%;
  height: 100%;
}

#section3-2 .swiper-slide {
  text-align: center;
  font-size: 18px;
  color: whitesmoke;
  background: #242323;
  background-repeat: no-repeat;
  background-size: cover;
  /* padding: 20px 10px; */
  flex-direction: column;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* TODO Later */
#section3-2 #html span img {
  height: 50px;
  width: 50px;
}

#section3-2 #css {
  background-image: url("../Images/CSS.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#section3-2 #js {
  background-image: url("../Images/JS.png");
}

#section3-2 #sql {
  background-image: url("../Images/SQL.png");
}

#section3-2 #python {
  background-image: url("../Images/Python.png");
}

#section3-2 #php {
  background-image: url("../Images/Php.png");
}

#section3-2 #bootstrap {
  background-image: url("../Images/Bootstrap.png");
}

#section3-2 .swiper-slide .courses-title h1 {
  margin: 0;
  color: white;
  font-size: 48px;
  font-weight: bolder;
}

#section3-2 .swiper-slide .courses-title span {
  right: 0;
  position: relative;
}

#section3-2 .swiper-slide .courses-title {
  height: 30%;
  width: 100%;
  background: #191919;
  padding: 40px 30px;
}

#section3-2 .swiper-slide .courses-text {
  background: rgb(136, 135, 135);
  color: black;
  height: 70%;
  width: 100%;
}

/* TODO Later */
#section3-2 .swiper-pagination {
  position: relative;
  padding: 20px;
  height: 20px;
}

#section3-2 .swiper-pagination-bullet {
  background: linear-gradient(to top left, purple 0%, #cc99ff 50%, #ff99cc 100%);
  padding: 7px;
  margin: 5px;
}

/*!  END Section 3  !*/



/*+  Section 4  +*/

#section4 {
  height: 100vh;
  width: 100%;
  background: #242323;
  color: white;
}

#section4 #section4-1 {
  position: absolute;
  width: 100%;
}

#section4-1 #board .container span {
  position: absolute;
  top: 10px;
  background: linear-gradient(to top left, #cc99ff 0%, #ff99cc 100%);
  height: 3px;
  width: 80px;
  border-radius: 6px;
}

#section4-1 #board .container h1 {
  font-size: 48px;
  font-weight: bolder;
  word-spacing: 10px;
  font-family: san;
  margin: 16px 16px 16px 0;
}


/*+  END Section 4  +*/

/*!  Section 5  !*/

#section5 {
  height: 100vh;
  width: 100%;
  background: #242323;
  color: white;
}

#section5 #section5-1 {
  position: absolute;
  width: 100%;
}

#section5-1 #about .container span {
  position: absolute;
  top: 10px;
  background: linear-gradient(to top left, #cc99ff 0%, #ff99cc 100%);
  height: 3px;
  width: 80px;
  border-radius: 6px;
}

#section5-1 #about .container h1 {
  font-size: 48px;
  font-weight: bolder;
  word-spacing: 10px;
  font-family: san;
  margin: 16px 16px 16px 0;
}


/*!  END Section 5  !*/

/*+  Section 6  +*/

#section6 {
  height: 100vh;
  width: 100%;
  color: white;
  position: absolute;
}

#section6 #section6-1 {
  position: absolute;
  top: 0;
  height: 50vh;
  width: 100%;
  background: #242323;
}

#section6-1 #contact {
  background: #242323;
  width: 100%;
}

#section6 #section6-2 {
  position: absolute;
  bottom: 0;
  height: 50vh;
  width: 100%;
  background: black;
}

#section6-1 #contact .container span {
  position: absolute;
  top: 10px;
  background: linear-gradient(to top left, #cc99ff 0%, #ff99cc 100%);
  height: 3px;
  width: 80px;
  border-radius: 6px;
}

#section6-1 #contact .container h1 {
  font-size: 48px;
  font-weight: bolder;
  word-spacing: 10px;
  font-family: san;
  margin: 16px 16px 16px 0;
}


/*+  END Section 6  +*/










@media (max-width: 1200px) {
  header {
    margin: 20px;
  }
}

@media (max-width: 960px) {
  .menu-toggle {
    display: block;
    width: 40px;
    height: 40px;
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: white;
  }

  .menu-toggle::before {
    content: '\f0c9';
    font-family: fontAwesome;
    position: relative;
    top: 3px;
    right: 5px;
  }

  .menu-toggle.active::before {
    content: '\f00d';
  }

  header {
    height: auto;
    width: auto;
    padding: 10px;
  }

  nav {
    display: none;
  }

  nav.active {
    display: block;
    width: 100%;
  }

  nav.active ul {
    /* display: block; */
    flex-direction: column;
    text-align: center;
  }

  nav.active ul li a {
    margin: 0;
    padding: 10px;
    background: black;

  }
}